*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}
nav img{
    animation: rotate 2s linear infinite;
    }

@keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}
ul{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#conversation-div {
    margin: 50px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
}

.message {
    background-color: grey;
    width: 240px;

    border-radius: 10px;
}

