*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    position: relative;
    border-bottom: 2px solid black;
}
nav img{
    animation: rotate 5s linear infinite;
    }

@keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}
ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
    transition: 0.5s;
}
nav ul li{
    transition: 0.5s;
}
nav ul li:hover{
    transform: scale(1.1);
}
nav ul li:hover a{
    color: rgb(1, 86, 94);
}
